:root {
    $primary-color: color: #300095;
    $primary-font: font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #300095;
}


h1 {
    font-weight: 800;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 600;
}

h4 {
    font-weight: 500;
}

h5 {font-weight: 400;
}

p {
    font-weight: 300;
}

.navbar .nav-menu {
    align-items: flex-end;

}

.btn {
    display: inline-block;
    padding: 12px 16px 10px;
    font-size: 18px;
    font-size: 1rem;
    line-height: 1.25;
    background-color: #fff;
    border-radius: .25rem;
    text-decoration: none;
    font-weight: 500;
    color: #300095;
    text-align: center;
    -webkit-box-shadow: inset 0 0 0 2px #3464e9;
    box-shadow: inset 0 0 0 2px rgb(39, 105, 228);
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
} 