body {
    font-family: 'Poppins', sans-serif;
    color: #300095;
}


h1 {
    font-weight: 800;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 600;
}

h4 {
    font-weight: 500;
}
h5 {
    font-weight: 400;
}


p {
    font-weight: 350;
}

.navbar .nav-menu {
    align-items: flex-end;
    justify-content: right;

}

.button {
    display: inline-block;
    padding: 12px 12px 12px 12px;
    font-size: 18px;
    font-size: 1rem;
    line-height: 1.25;
    background-color: #300095;
    border-radius: .25rem;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    text-align: center;
    -webkit-box-shadow: inset 0 0 0 2px #3464e9;
    box-shadow: inset 0 0 0 2px rgb(39, 105, 228);
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
} 

/* blog roll */
.blog-list-item.is-featured {
  background-color: #d6400033;
}
.blog-list-item header {
  display: flex;
  margin-bottom: 1em;
}
.blog-list-item .featured-thumbnail {
  flex-basis: 35%;
  margin: 0 1.5em 0 0;
}



/* responsiveness */

/* +tablet-only  */

.blog-list-item .featured-thumbnail {
    flex-basis: 100%;
}    

/* +mobile  */
  .blog-list-item header {
    display: block
  }
  .blog-list-item .featured-thumbnail {
    text-align: center;
    max-width: 100%;
    border-radius: 2px;
    margin: 0 0 1em;
}